.cancelButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancelButton:hover {
    background-color: #c0392b;
  }
  
  .cancelButton:focus {
    outline: none;
  }

  .cancelButton:disabled {
    background-color: #707070;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: not-allowed;
  }
  