.movie-carousel {
  display: flex;
  align-items: center;
  margin: 20px;
}

.movie-carousel button {
  background-color: #000000a1;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.movie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-main,
.movie-adjacent {
  text-align: center;
}

.movie-main img,
.movie-adjacent img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

.movie-main h2,
.movie-adjacent h2 {
  margin-bottom: 5px;
}

.movie-main p,
.movie-adjacent p {
  font-size: 14px;
  color: #888;
}

.movie-main,
.movie-adjacent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
  height: 450px;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.movie-main {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.movie-adjacent {
  transform: scale(0.75);
  opacity: 0.5;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.movie-main:hover {
  transform: scale(1.1);
}

.movie-adjacent:hover {
  transform: scale(0.9);
  opacity: 1;
}

.movie-main.transitioning {
  transform: scale(0.75);
  opacity: 0.5;
}

.movie-adjacent.transitioning {
  transform: scale(0.6);
  opacity: 0;
}
